<section class="credit">
  <div class="container credit__container">
    <h2 class="credit__title">fitCOIN VS fit mirror <b class="pink-color">CREDIT</b></h2>
    <img class="img credit__img" src="@img/credit.png" alt="Credit Mirrors">
    <button class="button">read more</button>
  </div>
</section>