<section class="main">
  <div class="container main__container">
    <div class="main__wrapper">
      <h2 class="main__title">
        the token <span class="pink-color">fitcOIN</span>
      </h2>
      <h3 class="main__subtitle">Our mission</h3>
      <p class="main__description">Inspire people to live a healthier and happier lifestyle, connect them with Web3,
        financially reward their
        commitment,
        and combat sedentarism through community empowerment.</p>
      <h3 class="main__subtitle">Our aim</h3>
      <p class="main__description">
        We aim to be the leading Web3 train 2 earn ecosystem for fitness & health that transforms real money spent for
        healthy
        activities into VCOIN and micro shareholding ownership.
      </p>
    </div>
    <img class="img" src="@img/coins.png" alt="Fit Coins">
  </div>
</section>