<section class="outline" id="token">
  <div class="container outline__container">
    <div class="outline__content">
      <h2 class="outline__title">your tokens <b class="pink-color">outline</b></h2>
      <p class="outline__description">fitness mirror system works as a central bank increasing automatically the price
        per
        token when a new epoch
        starts
      </p>
      <b class="outline__text">FITCOIN: <span class="grey-color">Governance</span></b>
      <b class="outline__text">FIT MIRROR Credit: <span class="grey-color">System utility</span></b>
      <button class="button">eroch details</button>
    </div>
    <img class="img" src="@img/yoga-girl.png" alt="Yoga Girl">
  </div>
</section>