<section class="statistics" id="products">
  <div class="container">
    <div class="statistics__wrapper">
      <h2 class="statistics__title">Statistics</h2>
      <div class="statistics__charts">
        <img class="img" src="@img/table.png" alt="Table">
        <img class="img" src="@img/tokens.png" alt="Tokens">
        <img class="img" src="@img/allocation.png" alt="Allocation">
      </div>
    </div>
  </div>
</section>