<section class="how" id="litepaper">
  <div class="container">
    <div class="how__wrapper">
      <h2 class="how__title">
        Utility
      </h2>
      <div class="how__cards">
        <div class="card-step">
          <h3 class="card-step__title">
            Utility 1
          </h3>
          <p class="card-step__description">
            Earn back your spent money for the Avatar NFT & FIT MIRROR Hardware
          </p>
        </div>
        <div class="card-step">
          <h3 class="card-step__title">
            Utility 2
          </h3>
          <p class="card-step__description">
            Earn additional rewards for training with FIT MIRROR
            Get fixed interest rates every 12 months for the tokes you earned
          </p>
        </div>
        <div class="card-step">
          <h3 class="card-step__title">
            Utility 3
          </h3>
          <p class="card-step__description">
            Bonded with your NFT gives you shareholder rights.
            Get revenue shares and voting rights in FIT MIRROR
          </p>
        </div>
      </div>
    </div>
  </div>
</section>