<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">EARNING <b class="pink-color">CALCULATOR</b></h2>
    <div class="calculator__wrapper">
      <div class="calculator-table">
        <div class="calculator-table__wrapper">
          <div class="left">
            <h3 class="calculator-table__title">Avatar</h3>
            <ul>
              <li class="calculator-table__item">
                Current NFT epoch
              </li>
              <li class="calculator-table__item">
                Pay rate
              </li>
              <li class="calculator-table__item">
                Exchange rate
              </li>
              <li class="calculator-table__item">
                Entry cost
              </li>
              <li class="calculator-table__item">
                Train lenght
              </li>
              <li class="calculator-table__item">
                Max tokens to earn
              </li>
              <li class="calculator-table__item">
                Bonuses to earn
              </li>
              <li class="calculator-table__item">
                Total
              </li>
              <li class="calculator-table__item">
                Total value in next epoch
              </li>
            </ul>
          </div>
          <div class="right">
            <h3 class="calculator-table__title">Hardware</h3>
            <ul>
              <li class="calculator-table__item">
                epoch 1
              </li>
              <li class="calculator-table__item">
                100%
              </li>
              <li class="calculator-table__item">
                0.245 euro / token
              </li>
              <li class="calculator-table__item">
                120 euro
              </li>
              <li class="calculator-table__item">
                12 month
              </li>
              <li class="calculator-table__item">
                320
              </li>
              <li class="calculator-table__item">
                78 fitcoins
              </li>
              <li class="calculator-table__item">
                398 fitcoins
              </li>
              <li class="calculator-table__item">
                412 euro
              </li>
            </ul>
          </div>
        </div>
      </div>
      <img class="img calculator__img" src="@img/calc-coins.png" alt="Coins">
    </div>
  </div>
</section>