<section class="crypto">
  <div class="crypto__wrapper">
    <img class="crypto__bg" src="@img/bg/bg-yoga-girl.png" alt="Yoga Girl">
    <div class="container crypto__container">
      <h2 class="crypto__title">MAKING <b class="pink-color">CRYPTO</b> <br> ACCESSIBLE <b class="pink-color">TO
          ANYONE</b>
      </h2>
      <p class="crypto__description">FIT MIRROR converts your training into crypto, FITCOIN, offering millions easy
        access
        to the world of
        cryptocurrencies
        with Game-Fi and Social-Fi, FIT MIRROR aims to become a platform that serves millions and empowers them to live
        healthier and be happier through a supportive social movement that fosters the development of a global Web3
        vibrant
        ecosystem owned by its users.
      </p>
    </div>
  </div>
</section>