<section class="fitcoin" id="token">
  <div class="container fitcoin__container">
    <img class="img fitcoin__img" src="@img/coins.png" alt="Fitcoins Picture">
    <span class="fitcoin__intro">INTRODUCING</span>
    <h2 class="fitcoin__title">FIT MIRROR <br> the <b class="pink-color">fitcOIN</b> token</h2>
    <p class="fitcoin__description">
      A new cryptocurrency that makes you earn for training & being more healthy. Earn what you spend, bonuses & get the
      rights of a FIT MIRROR shareholder
    </p>
  </div>
</section>