<section class="how">
  <div class="container">
    <div class="how__wrapper">
      <h2 class="how__title">
        HOW YOU EARN
      </h2>
      <div class="how__cards">
        <div class="card-step">
          <h3 class="card-step__title">
            Step 1
          </h3>
          <ul>
            <li class="card-step__item">
              Download the FIT MIRROR App
            </li>
            <li class="card-step__item">
              Spend 120 euro and get your Avatar NFT
            </li>
            <li class="card-step__item">
              Spend 120 euro and get your Avatar NFT
            </li>
          </ul>
        </div>
        <div class="card-step">
          <h3 class="card-step__title">
            Step 2
          </h3>
          <ul>
            <li class="card-step__item">
              Train 240 min monthly to unlock your credits
            </li>
            <li class="card-step__item">
              Train more and win extra FITCOINs every month
            </li>
          </ul>
        </div>
        <div class="card-step">
          <h3 class="card-step__title">
            Step 3
          </h3>
          <ul>
            <li class="card-step__item">
              Transform your body & mind
            </li>
            <li class="card-step__item">
              After 12 months earn up to 12% interest rate on your tokens
            </li>
            <li class="card-step__item">
              Swap your tokens or claim your FIT MIRROR shareholder rights
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>