<section class="main">
  <div class="main__wrapper">
    <div class="container">
      <h1 class="main__title">TRAIN, PROGRESS <span class="nowrap">& EARN CRYPTO</span></h1>
      <p class="main__description">FIT MIRROR is a web3 train 2 earn ecosystem for fitness & health that transforms real
        money spent on healthy
        activities into FIT MIRROR tokens & shareholding ownership.</p>
      <img class="main__img img" src="@img/play-market.png" alt="Play Market">
    </div>
    <img class="main__bg" src="@img/bg/bg-f.png" alt="" aria-hidden="true">
  </div>
</section>