<section class="mirrors" id="products">
  <div class="container">
    <h2 class="mirrors__title">SUPERCHARGE YOUR TRAINING WITH THE <b class="pink-color">FIT MIRROR</b></h2>
    <div class="mirrors__wrapper">
      <section class="card-mirror">
        <h3 class="card-mirror__title">FIT MIRROR <b class="pink-color">S</b></h3>
        <h4 class="card-mirror__subtitle">NFT entry 1400 euro</h4>
        <p class="card-mirror__description">
          You get a super smart <br> mirror to thain with
        </p>
      </section>
      <section class="card-mirror">
        <h3 class="card-mirror__title">FIT MIRROR <b class="pink-color">X</b></h3>
        <h4 class="card-mirror__subtitle">NFT entry 2400 euro</h4>
        <p class="card-mirror__description">
          You get a super smart <br> mirror to thain with
        </p>
      </section>
    </div>
    <img class="img mirrors__img" src="@img/mirrors.png" alt="Girl with mirrors">
  </div>
</section>