<section class="steps" id="litepaper">
  <div class="container steps__container">
    <div class="card">
      <svg class="card__icon">
        <use xlink:href="svg/spritemap.svg#sprite-clocks"></use>
      </svg>
      <h2 class="card__title">
        Workouts on your schedule
      </h2>
      <p class="card__description">
        50+ live classes streaming weekly. 5000+ on-demand classes available.
      </p>
    </div>
    <div class="card">
      <svg class="card__icon">
        <use xlink:href="svg/spritemap.svg#sprite-calendar"></use>
      </svg>
      <h2 class="card__title">
        Dynamic tools and classes
      </h2>
      <p class="card__description">
        Find what suits you best: On-demand, live classes, and goal based programs.
      </p>
    </div>
    <div class="card">
      <svg class="card__icon">
        <use xlink:href="svg/spritemap.svg#sprite-people"></use>
      </svg>
      <h2 class="card__title">
        Empowering community
      </h2>
      <p class="card__description">
        Join like-minded people eager to pioneer a new way of staying fit.
      </p>
    </div>
  </div>
</section>