$fontFamily: 'Inter';
$fontSize: 14px;
$mainColor: #1B1B20;
$minWidth: 320;
$maxWidthContainer: 1516;
$containerPadding: 30; // 15px left && 15px right
$containerWidth: $maxWidthContainer+$containerPadding;